<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:09:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:09:42</td>   <td>8187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerClick()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">CustomerClick</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:09:52</td>   <td>17720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:09:52</td>   <td>17806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:09:59</td>   <td>25109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.ChildCustomer()[pri:1, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">ChildCustomer</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:10:09</td>   <td>35090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:10:10</td>   <td>35406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:10:17</td>   <td>42588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.addcustomer()[pri:3, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">addcustomer</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:10:49</td>   <td>74595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:10:49</td>   <td>74740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:10:56</td>   <td>81717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchFname()[pri:4, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">CustomerSearchFname</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:12</td>   <td>98000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:12</td>   <td>98063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:19</td>   <td>104373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchLname()[pri:5, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">CustomerSearchLname</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:35</td>   <td>120676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:35</td>   <td>120931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:41</td>   <td>126700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchEmail()[pri:6, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">CustomerSearchEmail</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:58</td>   <td>143821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:11:58</td>   <td>143906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:12:05</td>   <td>150975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchComapany()[pri:7, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">CustomerSearchComapany</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:12:23</td>   <td>168804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:12:23</td>   <td>168878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:12:30</td>   <td>175849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerRoles()[pri:8, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">CustomerRoles</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:12:50</td>   <td>195648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:12:51</td>   <td>196289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:12:59</td>   <td>204297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.AddCustomerRole()[pri:9, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">AddCustomerRole</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/13 21:13:29</td>   <td>234243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
</table>
