<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NopCommerce Project</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>20/01/14 21:26:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginsuite.applaunch()[pri:0, instance:a_project_nopcommerce.Loginsuite@100fc185]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/14 21:26:23</td>   <td>11185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginsuite.AppLogin()[pri:1, instance:a_project_nopcommerce.Loginsuite@100fc185]">AppLogin</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/14 21:26:40</td>   <td>28571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Loginsuite.appclose()[pri:0, instance:a_project_nopcommerce.Loginsuite@100fc185]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/14 21:26:41</td>   <td>28950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginsuite.applaunch()[pri:0, instance:a_project_nopcommerce.Loginsuite@100fc185]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/14 21:26:51</td>   <td>39011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginsuite.invalidlogin()[pri:2, instance:a_project_nopcommerce.Loginsuite@100fc185]">invalidlogin</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/01/14 21:26:54</td>   <td>42474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Loginsuite.appclose()[pri:0, instance:a_project_nopcommerce.Loginsuite@100fc185]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:26:55</td>   <td>43369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:27:02</td>   <td>50747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerClick()[pri:1, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">CustomerClick</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:27:17</td>   <td>65212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:27:17</td>   <td>65274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:27:23</td>   <td>71558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.ChildCustomer()[pri:2, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">ChildCustomer</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:27:39</td>   <td>87202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:27:39</td>   <td>87444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:27:47</td>   <td>95769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.AddNewCustomer()[pri:3, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">AddNewCustomer</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:28:26</td>   <td>133854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:28:26</td>   <td>133920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:28:32</td>   <td>140537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchFname()[pri:4, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">CustomerSearchFname</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:28:49</td>   <td>157271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:28:49</td>   <td>157362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:28:57</td>   <td>164916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchLname()[pri:5, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">CustomerSearchLname</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:29:17</td>   <td>184908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:29:17</td>   <td>184977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:29:24</td>   <td>192135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchEmail()[pri:6, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">CustomerSearchEmail</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:29:40</td>   <td>208700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:29:40</td>   <td>208768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:29:48</td>   <td>216024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchComapany()[pri:7, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">CustomerSearchComapany</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:30:04</td>   <td>232441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:30:04</td>   <td>232500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:30:11</td>   <td>239712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerRoles()[pri:8, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">CustomerRoles</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:30:35</td>   <td>262929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:30:35</td>   <td>263023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:30:41</td>   <td>269523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.AddCustomerRole()[pri:9, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">AddCustomerRole</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/01/14 21:31:05</td>   <td>293022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@1b604f19]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
</table>
