<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NopCommerce Login Check</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93948d">  <td>20/01/13 20:35:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.AddCustomerRole()[pri:8, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">AddCustomerRole</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>20/01/13 20:31:49</td>   <td>-209701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginsuite.AppLogin()[pri:0, instance:a_project_nopcommerce.Loginsuite@643b1d11]">AppLogin</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:09</td>   <td>-189638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:26</td>   <td>-172820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:43</td>   <td>-156245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:33:30</td>   <td>-109003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:33:55</td>   <td>-84445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:34:22</td>   <td>-57320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:34:48</td>   <td>-31132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:35:13</td>   <td>-5843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerSuite.Applaunch()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:32</td>   <td>-167553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.ChildCustomer()[pri:1, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">ChildCustomer</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:15</td>   <td>-184020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerClick()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">CustomerClick</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:34:55</td>   <td>-23957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerRoles()[pri:7, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">CustomerRoles</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:34:29</td>   <td>-50074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchComapany()[pri:6, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">CustomerSearchComapany</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:33:37</td>   <td>-101666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchFname()[pri:4, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">CustomerSearchFname</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:34:02</td>   <td>-77247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.CustomerSearchLname()[pri:5, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">CustomerSearchLname</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:50</td>   <td>-149517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerSuite.addcustomer()[pri:3, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">addcustomer</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>20/01/13 20:31:59</td>   <td>-200132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Loginsuite.appclose()[pri:0, instance:a_project_nopcommerce.Loginsuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>20/01/13 20:32:09</td>   <td>-189816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Loginsuite.appclose()[pri:0, instance:a_project_nopcommerce.Loginsuite@643b1d11]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:24</td>   <td>-175158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:32:43</td>   <td>-156359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:33:28</td>   <td>-111092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:33:55</td>   <td>-84530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:34:21</td>   <td>-57646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:34:48</td>   <td>-31367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:35:13</td>   <td>-5965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/01/13 20:35:42</td>   <td>23342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerSuite.appclose()[pri:0, instance:a_project_nopcommerce.CustomerSuite@7823a2f9]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>20/01/13 20:31:43</td>   <td>-216264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginsuite.applaunch()[pri:0, instance:a_project_nopcommerce.Loginsuite@643b1d11]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>20/01/13 20:31:59</td>   <td>-199952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginsuite.applaunch()[pri:0, instance:a_project_nopcommerce.Loginsuite@643b1d11]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>20/01/13 20:32:06</td>   <td>-193367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginsuite.invalidlogin()[pri:1, instance:a_project_nopcommerce.Loginsuite@643b1d11]">invalidlogin</td> 
  <td>main@1782704802</td>   <td></td> </tr>
</table>
